* {
    box-sizing: border-box;
}

:root{
    --gray: hsl(0,0%,80%);
    --lightgray: hsl(0,0%,90%);
    --desk: hsl(180, 50%, 35%);
}

*::selection {
    background: transparent;
}

body {
    margin: 0;
    font-family: monospace;
}

#desktop {
    width: 100vw;
    height: 100vh;
    /* background: url(https://placekitten.com/120/120) no-repeat center, hsl(180, 50%, 35%); */
    background: var(--desk);
    z-index: -3;
}

#console {
    position: fixed;
    top: 0px;
    right: 30px;
    background: hsla(0,0%,10%,0.2);
    max-height: 80vh;
    overflow: hidden;
}

#startmenu {
    position: fixed;
    width: 340px;
    bottom: 30px;
}
#startmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 4px 0.8em;
}
#startmenu li {
    padding: 4px;
}
#startmenu:hover {
    border-style:outset;
}

#panel {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 30px;
    bottom: 0px;
    background: var(--gray);
    border-top: 1px solid hsl(0,0%,90%);
}

#start {
    line-height: 23px;
    margin: 1px 1px 1px 2px;
    width: 80px;
    padding-left: 3px;
    display: inline-block;
    cursor: pointer;
    background: var(--gray);
}

/* *** */

.box {
    border: 1.6px outset var(--lightgray);
    background: var(--gray);
}
.box:hover { border-style: inset; }

.window {
    max-width: 99vw;
    max-height: 80vh;
    min-height: 200px;
    min-width: 200px;
    height: 200px;
    width: 200px;
    top: 10px;
    position: fixed;
    left: 10px;
}
.box.window:hover { border-style: outset; }





















